<div fxLayout="row" class="w-100 wrapper" fxLayoutAlign="space-evenly center" class="p-5">
  <div fxLayout="column" class="p-5">
    <mat-icon class="font-size-icons mb-5" aria-hidden="false" aria-label="Example query icon">query_stats</mat-icon>
  </div>
  <div fxLayout="column" class="p-5">
    <mat-icon class="font-size-icons mb-5" aria-hidden="false" aria-label="Example query icon">verified_user</mat-icon>
  </div>
  <div fxLayout="column" class="p-5">
    <mat-icon class="font-size-icons mb-5" aria-hidden="false" aria-label="Example query icon">military_tech</mat-icon>
  </div>
</div>
