<div fxLayout="row" class="w-100 wrapper" fxLayoutAlign="space-evenly center" class="p-5">
  <div fxLayout="column" class="p-5">
    <mat-icon class="font-size-icons mb-5" aria-hidden="false" aria-label="Example query icon">query_stats</mat-icon>
    <h5 class="text-bold mt-5 mb-5">Find products at the best price</h5>
    <p class="text-bold">
      At PriceRunner you can find and compare the lowest prices of more than 2.6 million products from over 6,100 online stores.
       We are constantly adding new products and stores every day and working
      hard to ensure that you get the most relevant information about products, retailers, tests and prices.
    </p>

  </div>
  <div fxLayout="column" class="p-5">
    <mat-icon class="font-size-icons mb-5" aria-hidden="false" aria-label="Example query icon">verified_user</mat-icon>
    <h5 class="mt-5 mb-5">Independent and trustworthy </h5>
    <p>
      PriceRunner is an independent informational service offering real price comparisons.
       No store can influence any information you find on our site, regardless of whether they are PriceRunner customers or not.
      Retailers can advertise on our site, however this does not in any way affect where they appear in the price comparison results of products.
    </p>
  </div>
  <div fxLayout="column" class="p-5">
    <mat-icon class="font-size-icons mb-5" aria-hidden="false" aria-label="Example query icon">military_tech</mat-icon>
    <h5 class="mt-5 mb-5">Free to use</h5>
    <p>
      PriceRunner's purpose is to help you feel safe when shopping online, giving you free access
      to helpful information in order to make smart purchasing decisions. We also offer our Buyer Protection free of charge,
       covering purchases of up to £5,000 from participating retailers.
      If you're more of an app person - we've got you covered there as well!
    </p>
  </div>
</div>
