<!-- <vg-player>
  <video [vgMedia]="$any(media)"  #media id="singleVideo" preload="auto" controls>
      <source src="/assets/video/sample-mp4-file" type="video/mp4">
  </video>
</vg-player> -->

<vg-player >
  <!-- <mat-icon class="material-symbols-outlined close" (click)="closePlayer()">close</mat-icon> -->
  <button  class="close" mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
   <vg-overlay-play>

   </vg-overlay-play>
  <vg-buffering></vg-buffering>

  <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
  </vg-scrub-bar> -->

  <vg-controls #test vgFor="singleVideo" [vgAutohide]="true" [vgAutohideTime]="5">
    <vg-play-pause vgFor="singleVideo"></vg-play-pause>

      <vg-playback-button></vg-playback-button>

      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

      <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

      <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

      <vg-track-selector></vg-track-selector>
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>

      <vg-fullscreen></vg-fullscreen>
  </vg-controls>

  <video [vgMedia]="$any(media)"  #media id="singleVideo" preload="auto" crossorigin [title]="data.title">
    <source src="/assets/video/sample-mp4-file.mp4" type="video/mp4">
  </video>
</vg-player>
