<div fxLayout="column" fxLayoutAlign="start stretch" class="bg-img wrapper">
  <div class=" ml-5 mt-50px" fxLayout="column" fxLayoutAlign="start start" >
    <div class="sub-section-1">
      <p>Why choose register:</p>
      <p>You can create your personal list and add products.You can calculate profits from your buys from start value and also
        history of product price to choose when its better to buy a product.
        if you register you will have better search result bcs with AI technology we can provide better products resualt
        .You will have a portofolio how money you spend this month on super Markets.
      </p>
    </div>
  </div>
  <div class="mt-5 mr-5" fxLayout="column" fxLayoutAlign="center end" >
    <div class="sub-section-2">
      <p>Register Here:</p>
      <p>
        Complete Just few Steps and you are ready for the better expirience
      </p>
      <button class="mt-4 custom-btn" mat-flat-button color="primary" routerLink="/application/register">Sign up</button>
    </div>
  </div>
</div>

