<div fxLayout="row" fxLayoutAlign="start stretch" class="bg-img wrapper">

    <div class="sub-section-1" fxLayout="column" fxLayoutAlign="start center">
      <p>Best Price:</p>
      <p>Find Current price reductions on select products
        Every day our robot scans several million products from super markets, registering price
        reductions in real-time. Additionally,
        the comparison price is calculated as the median of the lowest prices during the offer period.
      </p>
    <button class="mt-4 custom-btn" mat-flat-button color="primary">Search deals</button>

    </div>

</div>
