<mat-toolbar>
  <span class="mr-75px text-white pointer" routerLink="/">SamFlix</span>
  <span class="example-spacer"></span>

  <a routerLink="/application/search" [routerLinkActive]="['active']">
    Search Movies
  </a>

  <div class="pull-right">
    <a routerLink="auth/login" [routerLinkActive]="['active']">
      Login
    </a>
    <a routerLink="auth/register" [routerLinkActive]="['active']">
      Register
    </a>
  </div>
</mat-toolbar>

<!-- <app-sidenav [showFilter]="showFilter" (drawer)="openSideNav()" #TEST></app-sidenav> -->
