<mat-toolbar>
  <span class="mr-75px text-white pointer" routerLink="/">SamFlix</span>
  <span class="example-spacer"></span>

  <a routerLink="/application/search" [routerLinkActive]="['active']">
    Search Movies
  </a>
  <a *ngIf="hasUserRights()" class="ml-35px" routerLink="/application/livechat" [routerLinkActive]="['active']">
    Live chat
  </a>
  <div class="pull-right" *ngIf="!hasUserRights()" >
    <a routerLink="auth/login" [routerLinkActive]="['active']">
      Login
    </a>
    <a routerLink="auth/register" [routerLinkActive]="['active']">
      Register
    </a>
  </div>
  <div class="pull-right" *ngIf="hasUserRights()" >
    <mat-icon class="font-size-icons mb-5 text-white " aria-hidden="false" aria-label="Example query icon"  routerLink="/application/votes" [routerLinkActive]="['active']">query_stats</mat-icon>
    <mat-icon class="font-size-icons mb-5 text-white " aria-hidden="false" aria-label="Example query icon"  routerLink="profile" [routerLinkActive]="['active']">account_circle</mat-icon>
    <mat-icon class="font-size-icons mb-5 text-white " aria-hidden="false" aria-label="Example query icon"  (click)="logOut()">logout</mat-icon>
  </div>

<!-- <app-sidenav [showFilter]="showFilter" (drawer)="openSideNav()" #TEST></app-sidenav> -->
