<mat-toolbar>
  <span class="mr-75px">Market Price Compare</span>
  <span class="example-spacer"></span>

  <a routerLink="/application/search" [routerLinkActive]="['active']">
    Search Deals
  </a>

  <div class="pull-right">
    <a routerLink="search" [routerLinkActive]="['active']">
      Login
    </a>
    <a routerLink="auth/register" [routerLinkActive]="['active']">
      Register
    </a>
  </div>
</mat-toolbar>

<!-- <app-sidenav [showFilter]="showFilter" (drawer)="openSideNav()" #TEST></app-sidenav> -->
