<div class="p-5 wrapper">
<div fxLayout="row" fxLayoutAlign="space-around center" class="mb-5">
  <div fxLayout="column" fxLayoutAlign="center start" fxFlex="20" class="p-2">
     <h5 class="mb-4">Market Prices</h5>
     <p>About us</p>
     <p>About us</p>
     <p>About us</p>
     <p>About us</p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center start" fxFlex="20" class="p-2">
    <h5 class="mb-4">Learn More</h5>
    <p>Get started</p>
    <p>Get started</p>
    <p>Get started</p>
    <p>Get started</p>
 </div>
 <div fxLayout="column" fxLayoutAlign="center start" fxFlex="30" class="p-2">
  <h5 class="mb-4">Partners & Advertisers</h5>
  <p>Why Market Prices</p>
  <p>Why Market Prices</p>
  <p>Why Market Prices</p>
  <p>Why Market Prices</p>
</div>
<div fxLayout="column" fxLayoutAlign="center start" fxFlex="30" class="p-2">
  <h5 class="mb-4">What is Market Prices</h5>
  <p>
    Since 1999, PriceRunner has helped millions of visitors find the best products at the best prices.
  </p>
  <p>
    PriceRunner is entirely independent and free to use. Our vision is to be your go-to site that you can always count on when comparing products and prices.
    You'll find us in:
  </p>
  <p>
    Greece (Thessaloniki)
  </p>
</div>

</div>
<div fxLayout="column" fxLayoutAlign="space-around start">
  <h5>MarketPrices</h5>
     <p class="small-text">
      Copyright 2022 MarketPrices International AB
     </p>
</div>
</div>
