.example-card {
  max-width: 450px;
  margin-bottom: 8px;
}
.font-size-45px{
  font-size: 45px;
}
.font-size-24px{
  margin-bottom: 5px;
  font-size: 20px;
}
.font-size-30px{
  font-size: 30px;
  font-weight: bold;
    color: black;
}
.money-style{
  padding: 10px;
  background-color: red;
}
.prev-price-style{
  text-decoration: line-through;
  text-decoration-color: red;
  color: black;
  font-weight: bold;
}
.space-between{
  align-content: space-between;
}
.super-img-style{
  width: 120px;
  height: 60px;
}
