<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title > <img mat-card-sm-image src="/assets/img/ab.png" >
    </mat-card-title>

    <mat-card-title class="font-size-24px mb-4">Reggato Τριμενο Β.Ιρλανδιας 400γρ</mat-card-title>
    <mat-card-subtitle class="prev-price-style space-between">17.90 <img class="super-img-style" src="/assets/img/ab.png" ></mat-card-subtitle>
    <mat-card-subtitle class="font-size-30px">15 Ευρό</mat-card-subtitle>
    <img mat-card-xl-image src="/assets/img/place-product.png" >
  </mat-card-title-group>
</mat-card>
