.example-card {
  max-width: 450px;
  margin-bottom: 8px;
}
.font-size-45px{
  font-size: 45px;
}
.font-size-24px{
  margin-bottom: 5px;
  font-size: 12px;
}
.font-size-30px{
  font-size: 30px;
  font-weight: bold;
    color: black;
}
.money-style{
  padding: 10px;
  background-color: red;
}
.prev-price-style{

  color: black;
  font-weight: bold;
}
.space-between{
  align-content: space-between;
}
.super-img-style{
  width: 120px;
  height: 60px;
}
.z-index{
  cursor: pointer;
  z-index: 500;
  margin-right: 50px;
}

.small-logo{
  width: 42px !important;
  height: 43px !important;
}
