<div fxLayout="column" fxLayoutAlign="start center" class="p-4">
  <div class="w-100 cover cover-color" fxLayout="row" fxLayoutAlign="space-evenly center" ></div>
  <div class="w-100 mb-5" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <img class="mt-minus-20px offset-10" src=".\assets\img\avatar.png" alt="Avatar">
    <h1>Name : {{userName}}</h1>
    <h1>Email : {{email}}</h1>
  </div>
  <div class="w-50 mb-5" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
     <div class="description h-250px padding ml-5" fxLayout="row wrap" fxFlex="50" fxLayoutAlign="start start">
       <p>Hello my name is constantinos and im very excited to introduce you to my profile. My goal is to help ppl around the world.I have a lot of hobies like traveling sport and movies!I hope you will enjoy my app and succed your dreams!</p>
     </div>
     <div fxLayout="row" fxFlex="80" fxLayoutAlign="start start">
      <div fxLayout="column" fxLayoutAlign="start center" >
        <div fxLayout="row" fxFlex fxLayoutAlign="start start">
          <h2>Movies You watched</h2>
        </div>
         <div class="w-100" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20px">

         </div>
      </div>
    </div>
  </div>
       <div fxLayout="row" fxFlex fxLayoutAlign="center start">
         <h2>Movies On WatchList</h2>
       </div>
       <div class="w-100" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
        <div class="mt-5 mb-5"  *ngFor="let movie of likedMovies" >
          <app-deal-card [hidden]="!movie.liked" [data]="movie" (clicked)="open($event)" (reviewClicked)="openReview($event)" (infoClicked)="openInfo($event)"></app-deal-card>
        </div>
       </div>
</div>
