<div class="h-100" fxLayout="column " fxLayoutAlign="center center">
  <h1 class="mb-5">Unique deals for spesific super market</h1>
  <owl-carousel-o [options]="customOptions"  class="w-100">

    <ng-container *ngFor="let item of data">
      <ng-template carouselSlide [id]="item.id" autoWidth=true>
        <app-circle-shop [src]="item.src" [alt]="item.alt" (clicked)="goToSpesificOffers()"></app-circle-shop>
        <!-- <img [src]="item.src" [alt]="item.alt" > -->
      </ng-template>
    </ng-container>

  </owl-carousel-o>
</div>
